allow from allOptions -Indexes#Personnalisation de l'erreur 404#exemple si on tape : "http://localhost/wonder/blig.php"#il faut mettre le chemin complet depuis la racine du serveur apacheErrorDocument 404 /eldinnWorld-PHP/public_html/404.php#gestion de l'erreur 403 (Forbidden) et redirection ver la 404 :ErrorDocument 403 /eldinnWorld-PHP/public_html/404.php
